body {
	margin: 0;
	padding: 0;
	background-color: #88AD85;
}

/*All pages nav bar*/
nav {
	background-color: #88AD85;
	height: 100px;
}

nav i {
	display: inline-block;
	color: #000;
	margin-top: 22px;
}

nav h1 {
	display: inline-block;
	font-family: "Amatic SC", cursive;
	color: #000;
	font-size: 50px;
	padding-left: 20px;
}

nav li {
	display: inline-block;
	font-family: "Amatic SC", cursive;
	font-size: 40px;
	margin-top: 25px;
	margin-left: 18px;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
	color: #000;
}

nav a:hover {
	text-decoration: none;
	color: #A573BA;
}

/*Home page*/
header {
	background-image: url(../images/lavenderandbee.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 100%;
	color: #fff;
	height: 750px;
	position: relative;
}

.frame {
	background-color: #88AD85;
	position: absolute;
	margin: 270px 460px;
	padding: 20px 20px;
}

header h1 {
	font-size: 50px;
	text-align: center;
	font-family: "Amatic SC", cursive;	
	color: #000;
	line-height: 50px;
}

header li {
	font-size: 40px;
	font-family: "Amatic SC", cursive;	
	color: #000;
	line-height: 40px;
	margin-left: 5px;
}

#gardentypes {
	height: 500px;
}

#gardentypes .row {
	height: 500px;
	background-color: #88AD85;
}

#gardentypes .images {
	margin-top: 50px;
	text-align: center;
}

#gardentypes img {
	border-radius: 5%;
}

#gardentypes h2 {
	text-align: center;
	font-family: "Amatic SC", cursive;
	font-size: 40px;
	color: #000;
}

#gardentypes a:hover,
#gardentypes h2:hover {
	text-decoration: none;
	color: #A573BA;
}

#services {
	display: block;
	height: 450px;
	background-color: #967BB6;
}

h3 {
	font-family: "Amatic SC", cursive;
	font-size: 75px;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px;
}

#services button,
.modal-header,
.modal-body {
	font-family: "Amatic SC", cursive;
	font-size: 40px;
	color: #000;
	text-align: center;
	background-color: #88AD85;
	border: none;
}

#services .col-md-4 {
	text-align: center;
}

/*All pages footer*/
#contact {
	background-color: #88AD85;
	height: 400px;
}

.contact {
	padding-left: 40px;
	padding-top: 50px;
}

.contact h5 {
	display: block;
	font-family: "Amatic SC", cursive;
	font-size: 40px;
}

.contact input {
	width: 100%;
	height: 25px;
	margin: 5px 0;
	font-size: 20px;
	font-family: "Amatic SC", cursive;
}

.contact textarea {
	width: 100%;
	height: 100px
	margin: 5px 0;
	font-size: 20px;
	font-family: "Amatic SC", cursive;
}

.contact button {
	margin: 5px 0;
	font-family: "Amatic SC", cursive;
	font-size: 30px;
}

.map {
	text-align: center;
	padding-top: 50px;
}

#contact p {
	font-family: "Amatic SC", cursive;
	font-size: 40px;
	padding-top: 20px;
}

#contact i {
	background-color: #967BB6;
	color: #000;
	margin: 50px 10px 10px 10px;
	padding-top: 12px;
	font-size: 50px;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	text-align: center;
}

#contact i:hover {
	color: #88AD85;
}

#contact .nav {
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
}

#contact .navbar li {
	display: inline-block;
	font-family: "Amatic SC", cursive;
	font-size: 35px;
	margin-top: 25px;
	margin-left: 15px;
	padding: 0 15px;
	letter-spacing: 2px;
	border: 1px solid #000;
}

#contact .navbar a {
	text-decoration: none;
	color: #000;
}

#contact .navbar a:hover {
	text-decoration: none;
	color: #A573BA;
}

/*About page*/
#about {
	text-align: center;
	height: auto;
	width: 60%;
	margin: 0 auto;
	background-color: #A573BA;
}

#about img {
	margin-top: 30px;
}

#about h2 {
	font-family: "Amatic SC", cursive;
	font-size: 60px;
	margin-bottom: 30px;
	text-decoration: underline;
}

#about p {
	font-family: "Amatic SC", cursive;
	font-size: 30px;
}

/*Projects page*/
#carousel {
	margin: 30px 0;
	height: auto;
	background-color: #A573BA;
}

#carousel img {
	margin: 0 auto;
}

/*FAQ page*/

#accordion {
	margin: auto 20px;
	background-color: #A573BA;
	text-align: center;
}

#accordion h1 {
	font-family: "Amatic SC", cursive;
	font-size: 70px;
	text-decoration: underline;
	margin-bottom: 30px;
}

#accordion .panel-heading {
	background-color: #A573BA;
}

#accordion .panel {
	border: 1px solid #A573BA;
}

#accordion h4 {
	font-family: "Amatic SC", cursive;
	font-size: 50px;
}

#accordion .panel-body {
	font-family: "Amatic SC", cursive;
	font-size: 30px;
}

#accordion a:hover {
	color: #88AD85;
	text-decoration: none;
}

/*Contact page*/
#main-contact {
	text-align: center;
	height: auto;
	width: 90%;
	margin: 0 auto;
	background-color: #A573BA;
}

#main-contact h2 {
	font-family: "Amatic SC", cursive;
	font-size: 50px;
	margin-bottom: 30px;
	line-height: 70px;
}

#blog .blog-post{
	text-align: center;
	font-family: "Amatic SC", cursive;
	background-color: #A573BA;
}

#blog .blog-post h2 {
	font-size: 80px;
	margin: 50px 0 30px 0;
	text-decoration: underline;
}

#blog .blog-post h3 {
	font-size: 30px;
	text-decoration: none;
}

#blog .blog-post p {
	text-align: justify;
	text-indent: 50px;
	font-size: 40px;
	padding: 0 50px;
}

#blog .blog-post li {
	text-align: left;
	font-size: 40px;
}

#blog .blog-post a {
	color: #000;
}

#blog .blog-post a:hover {
	color: #88AD85;
	text-decoration: none;
}

#blog .blog-post hr {
	border: 5px solid #000;
	margin-left: 10px;
}

#blog .sidebar h3 {
	font-family: "Amatic SC", cursive;
}

#blog .sidebar a {
	color: #000;
}

#blog .sidebar li {
	font-family: "Amatic SC", cursive;
	font-size: 40px;
}

#blog .sidebar a:hover {
	color: #A573BA;
	text-decoration: none;
}